Source: cartesi-machine-emulator
Section: otherosfs
Priority: optional
Maintainer: Cartesi Machine Reference Unit
Homepage: https://github.com/cartesi/machine-emulator
Build-Depends:
 debhelper-compat (= 13),
 libboost1.81-dev,
 liblua5.4-dev,
 libslirp-dev,
 pkg-config,
Standards-Version: 4.5.1
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/cartesi-machine-emulator.git
#Vcs-Browser: https://salsa.debian.org/debian/cartesi-machine-emulator

Package: cartesi-machine-emulator
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 lua5.4,
 libslirp0,
Description: Cartesi Machine emulator for RISC-V Linux systems

Package: cartesi-machine-emulator-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libslirp-dev,
Description: Cartesi Machine emulator development files

Package: cartesi-machine
Architecture: any
Multi-Arch: same
Depends:
 cartesi-machine-emulator,
 cartesi-machine-rootfs-image,
 cartesi-machine-linux-image,
Description: Cartesi Machine (meta-package)
