#!/usr/bin/make -f

# Skip tests
export DEB_BUILD_OPTIONS+=nocheck

# Include linux headers
export DEB_CFLAGS_MAINT_APPEND+=-I/usr/src/linux-headers/include

# Set cargo to use
export CARGO=cargo-1.77

%:
	dh $@
